<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Webpixels">
    <title>GravityBites | Online Super Market</title>
    
    <link rel="stylesheet" href="assets/css/quick-website.css" id="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      
          <div class="header">
            <a class="navbar-brand" href="index.html">
               <img alt="" src="delivery-boy.png" id="navbar-logo">
            </a>
            <div class="header-right">
            <a href="#signin" class="con">Register</a> <div class="vl"></div>

            <a href="#register" class="con">Sign In</a>
        </div>
      </div>
        
    </nav>
    <div>
        <section
          className="slice slice-lg pt-lg-30 pb-30 pb-lg-30 bg-section-secondary"
          style={{
            display: "flex",
            justifyContent: "space-around",
            flexWrap: "wrap",
          }}
        >
          <div className="card" style={{ width: "40%", marginBottom: "1rem" }}>
            <div className="card-body pb-1">
              <div className="pt-2 pb-1">
                <img
                  src={image1}
                  className="img-fluid img-center"
                  style={{ height: "100px" }}
                  alt="Illustration"
                />
              </div>
              <h5 className="h4 lh-130 mb-3">Medicines & Pharmacy</h5>
              <p className="text-muted mb-0">
                Increase your sales by being visible to more audience within
                your city.
              </p>
            </div>
          </div>
          <div className="card" style={{ width: "40%", marginBottom: "1rem" }}>
            <div className="card-body pb-1">
              <div className="pt-2 pb-1">
                <img
                  src={image4}
                  className="img-fluid img-center"
                  style={{ height: "100px" }}
                  alt="Illustration"
                />
              </div>
              <h5 className="h4 lh-130 mb-3">Vegetables & Fruits</h5>
              <p className="text-muted mb-0">
                Increase your sales by being visible to more audience within
                your city.
              </p>
            </div>
          </div>

          <div className="card" style={{ width: "40%", marginBottom: "1rem" }}>
            <div className="card-body pb-1">
              <div className="pt-2 pb-1">
                <img
                  src={image2}
                  className="img-fluid img-center"
                  style={{ height: "100px" }}
                  alt="Illustration"
                />
              </div>
              <h5 className="h4 lh-130 mb-3">Food & Beverages</h5>
              <p className="text-muted mb-0">
                Increase your sales by being visible to more audience within
                your city.
              </p>
            </div>
          </div>
          <div className="card" style={{ width: "40%", marginBottom: "1rem" }}>
            <div className="card-body pb-1">
              <div className="pt-2 pb-1">
                <img
                  src={image3}
                  className="img-fluid img-center"
                  style={{ height: "100px" }}
                  alt="Illustration"
                />
              </div>
              <h5 className="h4 lh-130 mb-3">Pet Supplies</h5>
              <p className="text-muted mb-0">
                Increase your sales by being visible to more audience within
                your city.
              </p>
            </div>
          </div>

          {/* <div className="column" style="float:right;">
            <div className="row">
              <div className="card">
                <div className="card-body-con pb-1">
                  <div className="pt-6 pb-5">
                    <img
                      src="assets/img/svg/illustrations/a9.png"
                      className="img-fluid img-center"
                      style="height: 100px;"
                      alt="Illustration"
                    />
                  </div>
                  <h5 className="h4 lh-130 mb-3">Get more sales</h5>
                  <p className="text-muted mb-0">
                    Increase your sales by being visible to more audience within
                    your city.
                  </p>
                </div>
              </div>
            </div>
          </div> */}
        </section>
      </div>
    <!-- Main content -->
    <section class="slice py-2">
        <div class="container">

            <div class="row row-grid align-items-center">
                <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
                    <!-- Image -->
                    <figure class="w-100">
                        <!-- <img alt="Image placeholder" src="assets/img/svg/illustrations/illustration-3.svg" class="img-fluid mw-md-120"> -->
                        <img alt="Image placeholder" src="./assets/img/delivery-boy.png" class="img-fluid mw-md-120">

                    </figure>
                </div>
                <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
                    
                    <h1 class="display-4 text-center text-md-left mb-3">
                        It's time to take your <strong class="text-primary">business online</strong>
                    </h1>
                    
                    <p class="lead text-center text-md-left text-muted">
                        Register in our app, and get started in no time.
                    </p>
                    
                    <div class="text-center text-md-left mt-5">
                        <a href="#" class="btn btn-primary btn-icon" target="_blank">
                            <span class="btn-inner--text">Download the app</span>
                            <span class="btn-inner--icon"><i data-feather="chevron-right"></i></span>
                        </a>
                       
                    </div>
                </div>
    </div>

    </section>
<div class="container">
        <section class="slice slice-lg pt-lg-30 pb-30 pb-lg-30 bg-section-secondary">
                       
                        <div class="column">
                <div class="row">
             <div class="row">
                             <div class="card">
                              <div class="card-body pb-1">
                            <div class="pt-2 pb-1">
                                <img src="assets/img/svg/illustrations/a9.png" class="img-fluid img-center" style="height: 100px;" alt="Illustration" />
                            </div>
                            <h5 class="h4 lh-130 mb-3">Get more sales</h5>
                            <p class="text-muted mb-0">Increase your sales by being visible to more audience within your city.</p>
                        </div>
                    </div>
                   
                     
                           <div class="card">
                            <div class="card-body pb-1">
                            <div class="pt-2 pb-1">
                                <img src="assets/img/svg/illustrations/a9.png" class="img-fluid img-center" style="height: 100px;" alt="Illustration" />
                            </div>
                            <h5 class="h4 lh-130 mb-3">Get more sales</h5>
                            <p class="text-muted mb-0">Increase your sales by being visible to more audience within your city.</p>
                        </div>
                    </div>
                   </div> 
<div class="row">
                       <div class="card">
                           <div class="card-body pb-1">
                            <div class="pt-2 pb-1">
                                <img src="assets/img/svg/illustrations/a9.png" class="img-fluid img-center" style="height: 100px;" alt="Illustration" />
                            </div>
                            <h5 class="h4 lh-130 mb-3">Get more sales</h5>
                            <p class="text-muted mb-0">Increase your sales by being visible to more audience within your city.</p>
                        </div>
                    </div>
                <div class="card">
                           <div class="card-body pb-1">
                            <div class="pt-2 pb-1">
                                <img src="assets/img/svg/illustrations/a9.png" class="img-fluid img-center" style="height: 100px;" alt="Illustration" />
                            </div>
                            <h5 class="h4 lh-130 mb-3">Get more sales</h5>
                            <p class="text-muted mb-0">Increase your sales by being visible to more audience within your city.</p>
                        </div>
                    </div>
                </div>

 <div class="column" style="float:right;">
 <div class="row">
                           <div class="card">
                           <div class="card-body-con pb-1">
                            <div class="pt-6 pb-5">
                                <img src="assets/img/svg/illustrations/a9.png" class="img-fluid img-center" style="height: 100px;"  alt="Illustration" />
                            </div>
                            <h5 class="h4 lh-130 mb-3">Get more sales</h5>
                            <p class="text-muted mb-0">Increase your sales by being visible to more audience within your city.</p>
                        </div>
                    </div>

</div>                
</div>
            
    </section>
 </div>
  
                                  


    <footer class="position-relative" id="footer-main">
        <div class="footer pt-lg-7 footer-primary bg-primary">
         
            <div class="container pt-3">
                <div class="row">
                    <div class="col-lg-6 mb-6 mb-lg-0">
                            <span><h3 style="color : white"><span style="color: #ffffff;">Gravity</span>Bites</h3></span>
                          </div>

                    <div class="col-lg-3 col-6 col-sm-4 mb-5 mb-lg-0">
                       <h6 class="heading mb-3"><b>Company</b></h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Term and Condition</a></li>
                            <li><a href="#">Newslatter</a></li>
                            <li><a href="#">Cookies</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-lg-3 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                         <h6 class="heading mb-3"><b>Social Media</b></h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">YouTube</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="divider divider-fade divider-dark my-4">
                <div class="row align-items-center justify-content-md-between pb-4">
                    <div class="col-md-6">
                        <div class="copyright text-sm font-weight-bold text-center text-md-left">
                            &copy; 2022 <a href="#" target="_blank">GravityBites</a>. All rights reserved
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </footer>
    <!-- Core JS  -->
    <script src="assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/libs/svg-injector/dist/svg-injector.min.js"></script>
    <script src="assets/libs/feather-icons/dist/feather.min.js"></script>
    <!-- Quick JS -->
    <script src="assets/js/quick-website.js"></script>
    <!-- Feather Icons -->
    <script>
        feather.replace({
            'width': '1em',
            'height': '1em'
        })
    </script>
</body>

</html>




   