/* Insights */

.entire {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.today_info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.all_insights {
  height: 20%;
  border-radius: 20px;
  border: 2px solid black;
}
.graph {
  height: 80%;
  border-radius: 20px;
  border: 2px solid green;
}
.top_selling {
  width: 40%;
  border-radius: 20px;
  border: 2px solid green;
  overflow-y: auto;
}
.title {
  margin-bottom: 1rem;
}
.product-container {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}
.home {
  width: 100vw;
  height: 100vh;
  background-image: url("./Components/img/Capture1.PNG");
  background-repeat: no-repeat;
}
.login_all {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
  box-shadow: 22px 20px 26px 14px rgba(169, 169, 194, 0.6);
  justify-content: center;
}
.contain {
  width: 100%;
  padding: 1.5rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 7px 7px 14px -2px rgba(169, 169, 194, 0.6);
  -moz-box-shadow: 7px 7px 14px -2px rgba(169, 169, 194, 0.6);
  box-shadow: 7px 7px 14px -2px rgba(169, 169, 194, 0.6);
  align-items: center;
  justify-content: center;
}
.contain h2 {
  width: 100%;
  color: #32cd32;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}
.contain .row100 {
  position: relative;
  width: 100%;
  display: grid;
  margin-left: 10%;
  grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
}
.contain .row100 .coln {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}
.contain .row100 .inputBox {
  position: relative;
  width: 80%;
  height: 30px;
  color: #32cd32;
}
.contain .row100 .inputBox input,
.contain .row100 .inputBox .textarea textarea {
  position: absolute;

  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}
.contain .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 14px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.contain .row100 .inputBox input:focus + .text,
.contain .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}
.contain .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 85%;
  height: 2px;
  background: #32cd32;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.contain .row100 .inputBox input:focus ~ .line,
.contain .row100 .inputBox input:valid ~ .line {
  height: 100%;
}
.contain .row100 .inputBox .textarea {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px 0;
}
.contain .row100 .inputBox .textarea textarea {
  height: 100%;
  resize: none;
}

.contain .row100 .inputBox input:focus ~ .textarea,
.contain .row100 .inputBox input:valid ~ .textarea {
  top: -35px;
  left: -10px;
}

.contain .row100 .inputBox input:focus ~ .textarea,
.contain .row100 .inputBox input:valid ~ .textarea {
  height: 100%;
}

input[type="submit"] {
  align-items: center;
  justify-content: center;
  margin-left: 35%;
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #32cd32;
  color: #000;
  /* color: white; */
  font-size: 15px;
  border-radius: 2px;
}
@media (max-width: 600px) {
  input[type="submit"] {
    margin-left: 5%;
  }
  .contain .row100 .inputBox .line {
    width: 58%;
  }
}
@media (min-width: 700px) {
  .login_all {
    width: 50%;
  }
}
.topnav {
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  /* background-color: #eeeee4; */
  background-color: white;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

/* Navbar links */
.topnav a {
  padding: 1rem;
  color: black;
  text-decoration: none;
  font-size: 1rem;
}
@media (min-width: 400px) {
  .topnav {
    margin-bottom: "1rem";
  }
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.activee {
  /* background-color: limegreen; */
  background-color: #eeeee4;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    display: block;
  }
}
.main {
  width: 100vw;
  height: 84vh;
  display: flex;
}
.hamburger {
  margin-right: 78%;
  display: none;
}
@media (max-width: 400px) {
  .hamburger {
    margin-right: -2%;
    display: block;
  }
}
.sidenav {
  background-color: white;
  /* margin-top: 1.5%; */
  /* background-color: #eeeee4; */
  width: 15%;
  height: 90.5vh;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
#root {
  /* background-repeat: no-repeat;
  background-size: auto;
  background: url("./Components/img/wholebg.jpeg"); */
  /* background-image: linear-gradient(40deg, #3dbc3d, transparent); */
  background-color: #eeeee4;
  background-color: white;
  height: 100vh;
}

.logo-containt {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: space-around;
}
.logo_name {
  font-size: 2rem;
}
.nav-list {
  display: flex;
  flex-direction: column;
  color: white;
  list-style: none;
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
}
.nav-list li {
  text-decoration: none;
  list-style: none;
  padding: 0.7rem;
  height: 15%;
}
.nav-list li link {
  text-decoration: none;
}

.nav-list li:hover {
  background-color: limegreen;
}

.dashboard {
  margin-left: 2.5%;
  margin-top: 1.5%;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 400px) {
  .dashboard {
    margin-left: 0;
    margin: 0 auto;
  }
}
/* Orders Section */
.orders {
  width: 100%;
  height: 90%;
  margin: auto 0;
  display: flex;
  justify-content: space-around;
}

.pending_order {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 9px;
  width: 30%;
}
.color_line {
  width: 100%;
  height: 8%;
  background-color: white;
  border-bottom: 1px solid #eeeee4;
  border-radius: 9px 9px 0px 0px;
}
.pending_cards {
  width: 100%;
  height: 92%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.accept-button {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}
.pending_card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 35%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 0 auto;
  font-family: "Montserrat";
  margin-top: 1rem;
}
@media (max-width: 600px) {
  .orders {
    flex-direction: column;
    width: 90%;
    margin: auto;
    border: 1px solid black;
    overflow-y: auto;
    justify-content: space-between;
  }
  .pending_order {
    width: 100%;
    height: 100%;
  }
  .all_orders {
    display: none;
  }
}
.order-address {
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
}
.card_info {
  height: 80%;
  display: flex;
  padding: 0 10px;
}
.card_item {
  width: 75%;
}
.ordernum {
  font-weight: 600;
  font-size: 17px;
  color: rgb(31, 182, 46);
  padding-bottom: 5px;
}
.orderprice {
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 5px;
}
.received {
  font-size: 13px;
  font-weight: 500;
  padding-bottom: 5px;
}
.img_delivered {
  width: 25%;
}
.all_orders {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 60%;
  border-radius: 9px;
}

.order-container {
  margin: 10px;
  padding: 10px;
  height: 89%;
  width: 93%;
  overflow-y: auto;
}

.order-card {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-bottom: 1rem;
}

.order-row1 {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  font-weight: bold;
}

.order-row2 {
  display: flex;
  justify-content: space-between;
  padding: 4px 10px;
  font-size: 12px;
  color: rgb(135, 134, 134);
}

.order-row3 {
  display: flex;
  padding: 4px 10px;
  justify-content: space-between;
  font-weight: bold;
  font-size: 13px;
}

/* Products Section */
.product_nav {
  width: 100%;
  height: 10%;
  align-items: center;
  border-radius: 9px 9px 0px 0px;
}
.product_ul {
  color: white;
  width: 100%;
  margin: 1% auto;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  list-style: none;
}
.product_ul li {
  font-size: 2.2rem;
}
.product_ul li a:hover {
  text-decoration: none;
  border-top: 2px solid limegreen;
  border-bottom: 2px solid limegreen;
}

.product_cards {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* Check this class */
.line {
  background-color: #7cfc00;
  height: 1rem;
}
.product_card {
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
  width: 25%;
  margin: 1% 1%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}
.product_card:hover {
  border: 2px solid black;
}
.h4 {
  color: #565b6d;
}
.product_price {
  display: flex;
  justify-content: space-between;
}
.product_edit {
  width: 80%;
  margin: 0 auto;
}
.product_edit > button {
  width: 100%;
  font-size: 1.3rem;
  background-color: limegreen;
}
@media (max-width: 400px) {
  .product_cards {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
  }
  .product_card {
    width: 80%;
    margin-top: 1rem;
  }
}

/* On mouse-over, add a deeper shadow */
.product_card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
/* .container {
  padding: 2px 16px;
} */

/* Reviews Section */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.review-container {
  background-color: #eeeee4;
  color: #fff;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 20px;
}
.review_card {
  margin-bottom: 1rem;
}
.review_cards .review_card {
  width: 100%;
  margin-bottom: 1rem;
  background: rgb(45, 43, 64);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.review_card > * {
  padding: 1rem 1.2rem;
}
.review_card-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.img {
  width: 50px;
  height: 50px;
  background: purple;
  border-radius: 50%;
  outline: none;
}
.name .one {
  background: orange;
}
.name,
.name .img {
  display: flex;
  align-items: center;
  gap: 10px;
}
.name .img {
  justify-content: center;
}
.rate i {
  color: yellow;
}
.review_card-content {
  margin: 0;
  padding-top: 0;
}
.review_card-content p {
  font-size: 0.8rem;
  color: rgb(152, 152, 165);
}
.review_card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review_card-action span {
  font-size: 0.8rem;
  color: RGB(101, 101, 114);
}
.review_card-action .btn {
  padding: 0.3rem 0.7rem;
  background: transparent;
  border: 1px solid #000;
  border-radius: 2px;
  color: #8c8c9f;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  background: #000;
  color: #fff;
}

@media screen and (max-width: 750px) {
  .review-container {
    /*     padding:0; */
    margin: 1rem 0;
    width: 75%;
  }
}

/* Support Section */
.support_btn {
  background-color: #00e676;
}
.p {
  font-size: large;
  font-style: normal;
  font-weight: bold;
}
