/* @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:wght@300;400;700&family=Nunito:wght@300;400;500;600&family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #DCDCDC;
} */
.container1 {
  position: relative;
  width: 80%;
  border-radius: 6px;
  padding: 30px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container1 header {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.container1 header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 27px;
  border-radius: 8px;
  background-color: #dcdcdc;
  align-items: center;
  float: left;
}
.container1 form {
  position: relative;
  margin: 16px;
  min-height: 490px;
  background-color: #fff;
}
.container1 form .details {
  margin-top: 30px;
}
.container1 form .title {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #333;
}
.container1 form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

form .fields .input-fields {
  display: flex;
  width: calc(100% / 2 - 30px);
  background-color: #fff;
  flex-direction: column;
  margin: 4px 0;
}

.step-wizard {
  align-items: center;
  justify-content: center;
  display: flex;
}
.step-wizard-list {
  background: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  color: #333;
  list-style-type: none;
  border-radius: 10px;
  display: flex;
  padding: 20px 10px;
  position: relative;
  z-index: 10;
}
.step-wizard-item {
  padding: 0 20px;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 180px;
  min-height: 60px;
  position: relative;
}
.step-wizard-item + .step-wizard-item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  background: #21d4fd;
  width: 100%;
  height: 2px;
  transform: translateX(-50%);
  z-index: -10;
}
.progress-count {
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  color: transparent;
}
.progress-count:after {
  content: "";
  height: 40px;
  width: 40px;
  background: #21d4fd;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -10;
}
.progress-count:before {
  content: "";
  height: 10px;
  width: 20px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: #21d4fd;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%) rotate(-45deg);
  transform-origin: center center;
  border-radius: 50%;
  z-index: -10;
}
.progress-label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  color: #333;
}
.current-item .progress-count:before,
.current-item ~ .step-wizard-item .progress-count:before {
  display: none;
}
.current-item .progress-count:after {
  background: #fff;
  border: 2px solid #21d4fd;
}
.current-item .progress-count {
  color: #333;
}

.input-fields label {
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}
.input-fields input {
  outline: none;
  padding: 0 15px;
  border: 1px solid #10101010;
  border-radius: 5px;
  height: 42px;
  margin: 8px 0;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.input-fields input:is(:focus, :valid) {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.container1 form button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #fff;
  background-color: #a9a9a9;
  margin: 24px 0;

  transition: all 0.3s linear;
  cursor: pointer;
}

form button:hover {
  background-color: #6495ed;
}
button form button i {
  margin: 0 6px;
}
form .buttons {
  display: flex;
  align-items: center;
}
form .buttons button {
  margin-right: 150px;
}
